<div class="main-container">
  <header>
    <div class="logo pull-left flex-layout">
      <img src="./assets/images/logo.png" />
      <label> <strong>GAMA</strong> - Global Account Management and Assigments</label>
    </div>
    <div class="pull-right user">
      <mat-icon>person</mat-icon>
      Welcome Username
      <br/>
      <label>
        <strong> Active Role:</strong> 
        Global Steferd
      </label>
    </div>
    <div class="clearfix"></div>
  </header>
  <div class="option-selector container">
    <section class="container">
      <section class="breadcrumb">
        <mat-icon>home</mat-icon>
        <label>/ Dashboard </label>
      </section>
      <router-outlet></router-outlet>

    </section>
    <br/>
  </div>
  <footer>
    2018 Dell | Terms & Conditions | To report as issue of log a trouble ticket, Please Click here
  </footer>
</div>