<div>
  <section>
    <div id="metricDrop">
      <label>Select the Metric from Dropdown :</label>
      <select class="custom-dropdown margin-left10"  (change)="getTasks($event)">
        <option value="approvereject">Approve / Reject</option>
        <option value="pending">Pending</option>
        <option value="autoapprove">Auto Approve</option>
      </select>
      </div>
  </section>
</div>
  <table>
    <colgroup>
      <col width="500" />
      <col width="500" />
      <col width="500" />
      <col width="500" />
      <col width="500" />
    </colgroup>
    <tr>
      <td *ngFor="let list of header">
        {{list.label}}
      </td>
    </tr>
    <tr *ngFor="let dataList of data" class="table-content">
      <td *ngFor="let cols of header; let i =  index" >
        {{dataList[cols.key]}}
      </td>
      <br/>
    </tr>

  </table>