/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.googleapis.com/css?family=Montserrat');
body{
  margin: 0px;
  padding: 0px;
  font-family: 'Montserrat', sans-serif !important;
}
/* text color sytles*/
.text-primary {
    color: #007bff!important;
}
.text-muted {
    color: #6c757d!important;
}
.text-success {
    color: #28a745!important;
}
.text-info {
    color: #17a2b8!important;
}
.text-warning {
    color: #ffc107!important;
}
.text-danger {
    color: #dc3545!important;
}
.text-secondary {
    color: #6c757d!important;
}
.text-dark {
    color: #343a40!important;
}
.text-light {
    color: #f8f9fa!important;
}
.text-white {
    color: #fff!important;
}


 .container{
  padding:0 30px;
  box-sizing: border-box;
}

.pull-left {
  float: left !important;
}
.pull-right {
  float: right !important;
}
.clearfix {
  clear: both;
}
.margin-left10 {
  margin-left: 10px !important;
}
.margin-btm15 {
 margin-bottom: 15px; 
}

header{
  background-color: #007db8;
  padding: 5px 10px;

}

.header-content{
  width: 80%;
  margin: 0 auto;
}

.header-content strong{
  font-size: 20px;
}

.header-content p{
  width: 50%;
  margin: 0 auto;
  text-align: center;
  color: #fff;
}
/*hovering*/
.hover:hover{
  border: 1px solid grey;
}
.hover1:hover{
  background-color: lightgrey;
}
/*select check boxes*/
.form{
  position: relative;
    top: -28px;
    left: 110px;
}
.cancel_apply{
  display: flex;
}
.cancel_apply div{
  flex: 1;
  text-align: center;
  background-color:white;
  margin-right: 55px;
  font-size: 12px;
  display: inline-block;
}
.multiselect {
  width: 180px;
}

.selectBox {
  position: relative;
}

.selectBox select {
  width: 100%;
  font-weight: bold;
}

.overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#checkboxes {
  display: none;
  border: 1px #dadada solid;
   position: absolute;
    width: 187px;
    background-color: white;
}
#checkboxes1 {
  display: none;
  border: 1px #dadada solid;
   position: absolute;
    width: 190px;
    background-color: white;
}
#checkboxes label {
  display: block;
}

#checkboxes label:hover {
  background-color: #1e90ff;
}
#checkboxes1 label {
  display: block;
}

#checkboxes1 label:hover {
  background-color: #1e90ff;
}
/*option selector part*/

.option-selector div{
  padding: 5px;
}
.option-selector select{
  width: 190px;
}

@media screen and (min-width: 768px){
  .option-selector{
  }
  .option-selector div{
  }
}
/*vendor and users*/

.user-vendor-container{
  padding-top: 30px;
}

.users-vendor{
  display: flex;
}

.users-vendor div{
  padding: 10px;
}

.fa-users{
  font-size: 50px;
}

.fa-times{
  font-size: 50px;
  color: red;
}

.fa-check{
  font-size: 50px;
  color: green;
}

/*.bg{
  background-color: aqua;
  width: 18vw;
}*/

@media screen and (min-width: 768px){
  .user-vendor-container{
    display: flex;
  }
  
  .user-vendor-container section{
    flex: auto;
  } 
}
.border{
  width: 400px;
}
.bordering{
  border: 1px solid;
}

/*group icon*/

.group-icon-container{
  padding: 30px;
}

.round-border{
  border-radius: 50%;
  border: 2px solid  #68B9E8; 
  padding: 20px;
  min-width: 80px;
  text-align: center;
  margin-right:30px;
  margin-bottom: 10px;
}
.round-border:hover{
  border:3px solid grey;
  border-radius: 50%;
}

.text{
  font-size: 30px;
}

.fa-chart-line{
  color:#68B9E8;
}

.fa-map-marker-alt{
  color: red;
}

.fa-user-alt{
  color:#68B9E8;  
}

.fa-dollar-sign{
  color: green;
}

.fa-map-marked-alt{
  color: red;
}

.fa-address-book{
  color: #68b9e8;
}

.fa-sitemap{
  color: yellow;
}

@media screen and (min-width: 576px){
  .group-icon-container{
    display: flex;
    /*flex-wrap: wrap;*/
  }

  .group-icon-container div{
    flex: 1;
  }
}
/*metric part*/
.metricDrop{
  display: none;
}
.details{
  display: flex;
  padding: 0px;
}

.graph-container >div:nth-child(2n){
  background-color: #f9f9f9;
}

.heading{
  text-transform: uppercase;
  padding: 30px;
  text-align: center;
  width: 10vw;
  border-right:1px solid #817D7D;
}

.graph-percentage{
  padding: 30px;
  text-align: center;
}

.graph-percentage label{
  padding: 10px;
}

.red-graph{
  display: inline-block;
  padding: 15px;
  background-color: red;
}

.yellow-graph{
  display: inline-block;
  padding: 15px;
  background-color: yellow;
}
.categories{
  width: 90px;
}
.daterangepicker.show-calendar .drp-buttons {
    display: block;
}
.daterangepicker .drp-buttons {
    clear: both;
    text-align: right;
    padding: 8px;
    border-top: 1px solid #ddd;
    line-height: 12px;
    vertical-align: middle;
}
.types{
  width:120px;
}
.kiran2 {
  width:180px;
}
.Task{
  width:120px;
}   
table, th, td {
  border: 1px solid #cccccc;
  border-collapse: collapse;
  font-family: Arial;
}
th, td {
  padding: 10px;
  text-align: left;    
}
  td{
    vertical-align: bottom;
  }
  .yellow-bg {
      background-color: yellow
  }
  .child-table, .child-table th, .child-table td {
      border: 0px;
      margin: 0px;
      width: 100%;
  }
  td.childList {
      padding: 0px;
  }
  .child-table tr {
      width: 100%;

  }
  .child-table tr:not(:last-child) {
      border-bottom: 1px solid #cccccc;
  }
  .flex-layout {
    display: flex;
    align-items: center;
  }
  .mat-tab-label {
    flex: 1;
    border: 1px solid #cccccc;
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
    background: -webkit-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: linear-gradient(135deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=1 );
  }
  .mat-tab-label.mat-tab-label-active {
    background: transparent !important;
    border: 0px;

  }
  .mat-tab-header, .mat-tab-nav-bar {
    border-bottom: 0px;
  }
  .mat-ink-bar {
    top: 10px !important;
  }
.mat-form-field  {
  font-family: 400 13px/20px 'Montserrat', sans-serif  !important;
}
.mat-expansion-panel-header, .mat-tab-group, .mat-card, .mat-form-field, .mat-select {
  font-family: 'Montserrat', sans-serif !important; 
  font-size: 13px; 
}
.custom-dropdown {
    display: inline-block;
    width: 100%;
    height: calc(1.75rem + 2px);
    padding: .150rem 1.75rem .150rem .75rem;
    line-height: 1.5;
    color: #495057;
    vertical-align: middle;
    background-color: #ededed;
    background-size: 8px 10px;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}